#logContainer {
  position: fixed;
  top: 57px;
  left: 0;
  right: 0;
  max-height: 40%;
  overflow-y: auto;
  direction: ltr;
  text-align: start;
}
#debugConsole {
  background: rgba(0, 0, 0, 0.45);
  color: #00ffcc;
  font-family: monospace;
  font-size: 10px;
  padding: 6px;
  border-top: 1px solid #00ffcc;
  z-index: 99999;
  white-space: pre-wrap;
}
.controls {
  position: fixed;
  top: 10px;
  background: #ffffff4a;
  padding: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  label {
    margin: 0;
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 0 5px;
    background: white;
  }
}
